/* Customize your main colors in :root variables */
:root {
  --main-background-color: #122e94;
  --card-background-color: #1b5aa1;
  --countdown-background-color: #ca8011;
  --main-text-color:#beac88;
  --title-text-color:#0ddd91;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/background.png");
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



